/* Шрифты

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root {
    --title-color: #303030;
    --text-color-first: #9DA4BD;
    --text-color-second: #555555;
    --accent-color: #FF6C00;
    --white-color: #FFFFFF;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--title-color);
}
    
ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    text-transform: uppercase;
}
.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
}
.text {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--text-color-second);
}
.button {
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;

    background-color: transparent;
    color: inherit;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
}
.button:hover,
.button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* --Индивидуальные классы-- */

/* -header- */

.header { 
    display: flex;
    align-items: center;
    padding-right: 32px;
    left: 50%;

    position: absolute;
    z-index: 1;

    color: var(--white-color);
    transform: translateX(-50%);

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
}
/* Навигация */
.navigation {
    display: flex;
    align-items: center;
    padding: 32px 0;
}
.navigation-list {
    display: flex;
    align-items: center;
    margin-left: 131px;
}
.navigation-items + .navigation-items {
    margin-left: 30px;
}
.navigation-link {
    display: block;
    padding: 20px 0;
}
.navigation-link:hover,
.navigation-link:focus,
.connect-tel:hover,
.connect-tel:focus {
    color: var(--accent-color);
}

/* телефон и кнопка */
.header-connect {
    margin-left: auto;
}
.connect-items + .connect-items {
    margin-left: 43px;
}
/* Main */

/* Герой */
.hero-container {
    display: flex;
    height: 680px;
}
.sidebar {
    letter-spacing: 0.2em;
    background-color: aqua;
}
.sibebar-items + .sibebar-items {
    margin-top: 40px;
}
.sidebar-link {
    display: block;
    width: 115px;
    transform: rotate(-90deg);
   color: var(--title-color); 
}
.hero-box {
    position: relative;
    width: 1070px;
    padding-top: 272px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 100px;
    background-color: #6A6B6F;
}
.hero-main {
    width: 444px;
}
.hero-subtitle {
    margin-bottom: 20px;

    color: rgba(157, 164, 189, 0.6);
}
.hero-title {
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85/72);
    letter-spacing: 0.05em;

    color: var(--white-color);
}
.hero-text {
    color: var(--text-color-first);
}
.slider-button {
    display: flex;

    position: absolute;
    right: 20px;
    bottom: 40px;

    margin-top: auto;
    margin-left: auto;
}
.slider-items {
    border: none;
    color: rgba(157, 164, 189, 0.6);
    background-color: transparent;

    font-family: 'Open Sans', sans-serif;  
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
}
.slider-items:hover {
    color: var(--white-color);
}

/* about */
.about-subtitle {
}
.about-title {
}
.about-accenttext {
    color: var(--text-color-second);
}
.about-text {
    font-size: 14px;
    line-height: calc(26/14);

    letter-spacing: 0.02em;

    color: var(--text-color-second);
}

/* Services and prices */
.prices-subtitle {
}
.prices-title {
}
.prices-list {
    color: var(--text-color-first);
}

/* Почему мы */
.whywe-list {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-align: center;

    color: var(--title-color);
}
.num {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57/42);
    letter-spacing: 0.05em;
}

/* our barbers */
.ourbarbers-desc {
    font-size: 18px;
    line-height: calc(25/18);
    text-align: center;
    letter-spacing: 0.02em;
}
.ourbarbers-prof {
    font-size: 14px;
    line-height: calc(19/14);

    color: var(--accent-color);
}

/* contacts */
.address-list a {
    color: var(--text-color-first);
}
.contacts-subtitle {
    color: var(--white-color);
}
.contacts-text {
    color: var(--text-color-first);
}
/* footer */
.copy {
    color: var(--text-color-first);
}
.footer-social a {
    color: var(--title-color);
    letter-spacing: 0.2em;
}