<section class="about" id="about">
  <div class="about__container">
    <ul class="about__list">
      <li class="about__item">
        <img
          class="about__img"
          src="./images/shaving.jpg"
          alt="shave their beard"
          width="270"
          height="445"
        />
      </li>
      <li class="about__item">
        <img
          class="about__img"
          src="./images/haircut.jpg"
          alt="cut hair"
          width="270"
          height="445"
        />
      </li>
    </ul>
    <div class="about__content">
      <div>
        <p class="about__subtitle">About</p>
        <h2 class="about__title">Best Barbershop in your city</h2>
        <p class="about__accenttext">
          If you want to add more confidence to your image, you should
          definitely visit us.
        </p>
        <p class="about__text">
          We are a team that never stops at what has been achieved and are
          thirsty for changes. And when you fall into the hands of our master,
          you will never be the same again. We are a team that is always "on the
          same wave" with clients. Therefore, we are always ready to improve
          everyone who comes to us!
        </p>
      </div>
      <div>
        <button class="about__button" type="button">Online-booking</button>
      </div>
    </div>
  </div>
</section>
