<section class="contacts" id="contacts">
  <div class="contacts__container">
    <div class="online-booking contacts-part"></div>
    <div class="contacts-part">
      <h2 class="contacts__title">Contacts</h2>
      <address class="address-contacts">
        <ul class="address-contacts__list">
          <li class="address-contacts__items">
            <a
              class="address-contacts__link"
              href="https://goo.gl/maps/AK9gsvEv8uj4qtoM9"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg
                class="address-contacts__icon maps-icon"
                width="24"
                height="24"
              >
                <use href="./images/symbol-defs.svg#icon-maps"></use></svg
              >st. Vasilkivska, 7A <br />
              Kyiv, 08132</a
            >
          </li>
          <li class="address-contacts__items">
            <a class="address-contacts__link link" href="tel:+380441111111">
              <svg class="address-contacts__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-phone"></use></svg
              >+38 044 111 11 11</a
            >
          </li>
          <li class="address-contacts__items">
            <a
              class="address-contacts__link mail-link link"
              href="mailto:barbershop@email.com"
            >
              <svg class="address-contacts__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-mail"></use></svg
              >barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <p class="contacts__subtitle subtitle subtitle-line margin-text">
        Working hours
      </p>
      <p class="contacts__text">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
