<div class="footer__container">
  <p class="copy">&#169; Copyright 2020</p>
  <ul class="footer-social">
    <li class="footer-social__items">
      <a
        class="footer-social__link"
        href="http://instagram.com"
        target="_blank"
        rel="noreferrer noopener"
        >Instagram</a
      >
    </li>
    <li class="footer-social__items">
      <a
        class="footer-social__link"
        href="http://youtube.com"
        target="_blank"
        rel="noreferrer noopener"
        >Youtube</a
      >
    </li>
  </ul>
</div>
