<section class="gallery">
  <div class="gallery__container">
    <p class="gallery__subtitle">In Latin, "barba" means "beard"</p>
    <h2 class="is-hidden">gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          src="./images/haircut_scissors.jpg"
          alt="haircut scissors"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/straight_razor.jpg"
          alt="straight razor"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/towel_drying.jpg"
          alt="towel drying"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/nape_haircut.jpg"
          alt="nape haircut"
          width="270"
          height="360"
        />
      </li>
    </ul>
  </div>
</section>
