<section class="hero">
  <div class="hero-container">
    <div class="sidebar-container">
      <ul class="sidebar subtitle-line">
        <li class="sidebar__items">
          <a
            class="sidebar__link"
            href="http://instagram.com"
            target="_blank"
            rel="noreferrer noopener"
            >Instagram</a
          >
        </li>
        <li class="sidebar__items">
          <a
            class="sidebar__link"
            href="http://youtube.com"
            target="_blank"
            rel="noreferrer noopener"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
    <div class="hero-box">
      <div class="hero-main">
        <p class="hero-subtitle">A hair salon for men in Kyiv</p>
        <h1 class="hero-title">BarberShop</h1>
        <p class="hero-text">
          We are experts in trendy men’s haircuts. We work quickly, carefully
          and with style.
        </p>
      </div>
      <ul class="slider-button">
        <li>
          <button class="slider-items" type="button">Back</button>
        </li>
        <li>
          <button class="slider-items" type="button">Forward</button>
        </li>
      </ul>
    </div>
  </div>
</section>
