<nav class="navigation">
  <a class="link" href="./index.html"
    ><img src="./images/Logo.svg" alt="logo" width="69"
  /></a>
  <ul class="navigation-list">
    <li class="navigation-items">
      <a class="navigation-link" href="#about">About</a>
    </li>
    <li class="navigation-items">
      <a class="navigation-link" href="#prices">Services and prices</a>
    </li>
    <li class="navigation-items">
      <a class="navigation-link" href="#ourbarbers">Barbers</a>
    </li>
    <li class="navigation-items">
      <a class="navigation-link" href="#contacts">Contacts</a>
    </li>
  </ul>
</nav>
