<section class="ourbarbers" id="ourbarbers">
  <div class="ourbarbers__container">
    <div>
      <p class="ourbarbers__subtitle">For true enjoyers of the atmosphere</p>
      <h2 class="ourbarbers__title">Our barbers</h2>
    </div>
    <ul class="ourbarbers__list">
      <li class="ourbarbers__items">
        <img
          class="ourbarbers__img"
          src="./images/John_Smith.jpg"
          alt="John Smith"
          width="370"
          height="346"
        />
        <div class="ourbarbers__info">
          <p class="ourbarbers__desc">John Smith</p>
          <p class="ourbarbers__prof">Extreme Barber</p>
          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="ourbarbers__items">
        <img
          class="ourbarbers__img"
          src="./images/Michele_Doe.jpg"
          alt="Michele Doe"
          width="370"
          height="346"
        />
        <div class="ourbarbers__info">
          <p class="ourbarbers__desc">Michele Doe</p>
          <p class="ourbarbers__prof">Extreme Barber</p>
          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="ourbarbers__items">
        <img
          class="ourbarbers__img"
          src="./images/Alan_Black.jpg"
          alt="Alan Black"
          width="370"
          height="346"
        />
        <div class="ourbarbers__info">
          <p class="ourbarbers__desc">Alan Black</p>
          <p class="ourbarbers__prof">Extreme Barber</p>
          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="http://instagram.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
