<section class="prices" id="prices">
  <div class="prices__container">
    <p class="prices__subtitle">Spend your time with the best masters</p>
    <h2 class="prices__title">Services and prices</h2>
    <ul class="prices__list">
      <li class="prices__item">
        <ul class="prices__sub-list">
          <li class="part-prices">
            <span>Men’s haircut</span
            ><span class="prices__element">from 300 uah.</span>
          </li>
          <li class="part-prices">
            <span>Beard trim</span
            ><span class="prices__element">from 300 uah.</span>
          </li>
          <li class="part-prices">
            <span>Mustache trim</span
            ><span class="prices__element">from 200 uah.</span>
          </li>
          <li class="part-prices">
            <span>Straight razor shave</span
            ><span class="prices__element">from 200 uah.</span>
          </li>
        </ul>
      </li>
      <li class="prices__item">
        <ul class="prices__sub-list">
          <li class="part-prices">
            <span>Trainee’s haircut</span
            ><span class="prices__element">from 50 uah.</span>
          </li>
          <li class="part-prices">
            <span>Haircut under the nozzle</span
            ><span class="prices__element">from 200 uah.</span>
          </li>
          <li class="part-prices">
            <span>Children’s haircut (0-12 y.o.)</span
            ><span class="prices__element">from 300 uah.</span>
          </li>
          <li class="part-prices">
            <span>Camouflage of gray hair</span
            ><span class="prices__element">from 200 uah.</span>
          </li>
        </ul>
      </li>
    </ul>
    <button class="prices__button" type="button">Online-booking</button>
  </div>
</section>
