<section class="whywe">
  <div class="whywe__container">
    <ul class="whywe__list">
      <li>
        <ul class="whywe__listblock">
          <li class="whywe__item">
            <p class="whywe__num">
              <span class="num">600</span>
              Satisfied customers per day
            </p>
          </li>
          <li class="whywe__item">
            <p class="whywe__num">
              <span class="num">20</span>
              Kyiv’s best barbers
            </p>
          </li>
        </ul>
      </li>
      <li>
        <ul class="whywe__listblock-last">
          <li class="whywe__item">
            <p class="whywe__num">
              <span class="num">50</span>
              Awards for excellent service
            </p>
          </li>
          <li class="whywe__item">
            <p class="whywe__num">
              <span class="num">100</span>
              Gifts for regular customers
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="whywe__info">
      <p class="whywe__subtitle">Old traditional school</p>
      <h2 class="whywe__title">¿Why people come to us?</h2>
      <p class="whywe__text">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
  </div>
</section>
