.whywe {
    @extend %section;

    &__container {
        @extend %container;
        display: flex;
        padding-left: 130px;
        padding-right: 70px;
    }

    &__list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 400px;

        font-weight: 600;
        font-size: 11px;
        line-height: calc(15/11);
        text-align: center;

        color: var(--title-color);
    }

    &__item {

        width: 170px;
        min-height: 133px;
        padding: 20px 24px;
        margin-bottom: 30px;

        background-color: #F7F7F7;
    }

    &__listblock {
        @extend %list;
    }

    &__listblock-last {
        @extend %list;
        margin-left: 30px;
        padding-top: 35px;
    }

    &__num {
        font-weight: 600;
        font-size: 11px;
        line-height: calc(15/11);
        text-align: center;
    }

    &__info {
        margin-left: auto;
        width: 500px;
    }

    &__title {
        @extend %title;
        @extend %margin-text;

        width: 430px;
    }

    &__subtitle {
        @extend %subtitle;
        @extend %margin-text;
    }

    &__text {
        @extend %text;
    }

}

.num {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;

    font-weight: 700;
    font-size: 42px;
    line-height: calc(57/42);
    letter-spacing: 0.05em;
}

.num::after {
    content: "+";
    display: block;
    padding-top: 7px;
    margin-left: 2px;

    color: var(--accent-color);

    font-weight: 600;
    font-size: 16px;
    line-height: calc(22/16);
    vertical-align: top;
}